<style>
.btn {width:30%}

</style>

<ion-header>
  <ion-toolbar>
    <ion-title>
      MSc Student Final Grade Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-progress-bar value="{{cumulativeCredits}}"></ion-progress-bar>

    <ion-item>
        <ion-label>Mod Score</ion-label>
        <ion-label>
          {{value}}
        </ion-label>
        
        <ion-label>Ave Score</ion-label>
        <ion-label>
            {{cumulativeValue}}
          </ion-label>
		  
		<ion-label>Credits</ion-label>
        <ion-label>
            {{cumulativeCredits}}
          </ion-label>
      </ion-item>

    
      <div *ngFor="let numGroup of btnCaps">
        <ion-button *ngFor="let num of numGroup" (click)="onButtonPress(num)" class="btn">{{num}}</ion-button>
      </div>


      
    <ion-grid *ngFor="let data of creditScores;let i = index" no-lines>
        <ion-row>
          <ion-col>
              <ion-label>Cap </ion-label>
              <ion-checkbox style="vertical-align:top" color="primary" [(ngModel)]="data.isCapped"  (ionChange)="data.onIsCappedChange()"></ion-checkbox>
          </ion-col>
          <ion-col><ion-label>{{data.score}}x{{data.numCredits}}</ion-label></ion-col>
          <ion-col><ion-button (click)="onDeleteRequest(i)">Delete</ion-button></ion-col>
        </ion-row>
    </ion-grid>



  

        <ion-button (click)="reset()">Clear List</ion-button>
    

</ion-content>
